.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  a {
    margin-left: auto;
    margin-right: 15px;
  }

  .add-button {
    min-width: 112px;

    &.is-loading {
      pointer-events: none;

      &:hover {
        border-color: #0062cc;
        background-color: #0069d9;
      }
    }
  }

  p { margin-bottom: 0; }
}

@media (max-width: 527px) {
  .table-top {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
