div.ReactModal__edit {
  .edit-container {
    .edit-image {
      display: flex;
      flex-direction: column;
      min-height: 240px;

      img.image {
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
        object-position: 0% 0%;
      }

      .sk-chase {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        .sk-chase-dot:before { background-color: #000; }
      }

      .no-image {
        height: 120px;
        width: 120px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ccc;
      }

      input[type="file"].input-file-custom { display: none; }

      label {
        &.input-file-label {
          display: inline-block;
          min-width: 110px;
          margin-top: auto;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;
          span { font-weight: normal; }
        }

        &.edit-image__label {
          padding-left: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  div.ReactModal__edit {
    .edit-container {
      .edit-image { min-height: 260px; }
    }
  }
}
