.edit-user {
  .edit-image {

    &__buttons {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button { width: 120px; }
    }
  }

  &__left {
    .edit-image { margin-bottom: 15px; }
    .created { margin-bottom: 15px; }
    .modified { margin-bottom: 15px; }
  }


  &__right {
    .notifications {
      .custom-checkbox {
        padding-left: 35px;
      }
    }

    .row {
      & > div { margin-bottom: 15px; }
    }
  }

  .custom-checkbox {
    display: flex;
    align-items: center;
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .edit-user {
    &__right {
      .notifications {
        .custom-checkbox {
          input.custom-control-input + label.custom-control-label {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
