div.ReactModal__add,
div.ReactModal__edit {
  width: auto;
  top: 75px;
  bottom: 15px;
  right: 15px;
  left: 255px;

  .location-id {
    display: inline-block;
    font-weight: normal;
    color: #007bff;
    padding-left: 10px;
    margin-top: 5px;
  }

  .edit-container {
    position: relative;

    .edit-logo, .edit-cover {
      display: flex;
      flex-direction: column;
      min-height: 200px;

      .sk-chase {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        .sk-chase-dot:before { background-color: #000; }
      }

      input { margin-top: auto; }
    }

    .edit-logo {
      img {
        margin: 10px 0;
        border: 1px solid #ccc;
        align-self: center;
        height: 100px;

        &.logo { width: 100px; }
      }

      .no-logo {
        height: 110px;
        width: 110px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ccc;
      }
    }

    .edit-cover {
      .no-cover {
        height: 110px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ccc;
      }

      img {
        margin: 10px 0;
        border: 1px solid #ccc;
        align-self: center;
        height: 100px;

        &.cover { width: auto; }
      }
    }

    .roles-container {
      margin-top: 25px;

      & > span:first-child {
        font-weight: bold;
        padding-left: 10px;
      }
    }

    fieldset {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }

    .form-group {
      label {
        font-weight: bold;
        padding-left: 12px;
        margin-bottom: 3px;

        &.empty-label { margin-top: 5px; }
      }

      & > div { margin-bottom: 15px; }

      &__row {
        & > div { margin-bottom: 15px; }

        .edit-image {
          display: flex;
          flex-direction: column;
          min-height: 270px;

          .image {
            width: 100%;
            max-width: 200px;
            margin-bottom: 5px;
          }

          .no-image {
            height: 110px;
            width: 110px;
            margin: auto;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ccc;
          }

          .sk-chase {
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 80px;

            .sk-chase-dot:before {
              background-color: #000;
            }
          }

          input {
            margin-top: auto;
          }
        }
      }
    }

    &__title {
      margin-top: 5px;
      margin-bottom: 10px;
      font-weight: normal;
      padding-right: 15px;

      .views {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #9e9e9e;
        height: 14px;
        line-height: 14px;
        color: #909399;
        white-space: nowrap;
      }
    }


    &__close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 20px;
      width: 20px;
      right: -10px;
      top: -15px;
      cursor: pointer;
      color: #ccc;

      &:hover { color: #6C7177; }
    }


    &__images {
      div.text-center {
        min-height: 195px;
        display: flex;
        flex-direction: column;

        .sk-chase {
          margin: 50px auto;

          .sk-chase-dot::before {
            background-color: #6C7177;
          }
        }
      }

      input[type="file"] { margin-top: 15px; }

      img {
        margin: 10px 0;
        border: 1px solid #ccc;
        align-self: center;
        height: 100px;

        &.logo { width: 100px; }

        &.cover { width: auto; }
      }

      .no-logo, .no-image {
        height: 110px;
        width: 110px;
        margin: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ccc;
      }

      .no-cover {
        height: 110px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ccc;
      }
    }


     &__is-loading {
      display: flex;
      z-index: 10;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255,255,255, .75);

      .sk-chase {
        margin: auto;

        .sk-chase-dot::before { background-color: #007bff; }
      }
    }


    &__buttons {
      min-height: 45px;
      padding: 0;
      height: auto;
      flex-basis: 100%;
      padding-top: 10px;
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      border-top: 1px solid #ddd;

      button { flex-basis: 20%; }

      .btn-outline-secondary { margin-right: 15px; }
    }

    .roles {
      text-transform: capitalize;
      display: flex;
      align-items: center;

      span { color: #007bff; }
    }
  }
}

@media (max-width: 991px) {
  div.ReactModal__add,
  div.ReactModal__edit { left: 15px; }
}

@media (max-width: 767px) {
  div.ReactModal__add,
  div.ReactModal__edit {

    .edit-container {
      .roles-container {
        & > span:first-child {
          padding-left: 5px;
        }
      }

      .form-group {
        & > div { margin-bottom: 5px; }

        &__row {
          & > div { margin-bottom: 5px; }

          .edit-image {
            min-height: 180px;

            .image { max-width: 100px; }

            .no-image {
              height: 100px;
              width: 100px;
            }

            .sk-chase {
              margin-top: 40px;
              margin-bottom: 40px;
            }
          }
        }

        label {
          margin-top: 15px;
          display: inline-flex;

          &.empty-label { display: none; }
        }
      }

      .roles { margin-top: 15px; }
    }
  }
}

@media (max-width: 600px) {
  div.ReactModal__add,
  div.ReactModal__edit {
    .edit-container {
      &__buttons {
        button { flex-basis: 50%; }
      }
    }
  }
}

@media (max-width: 575px) {
  div.ReactModal__edit {
    .edit-container {
      .roles {
        padding-left: 20px;
        margin-top: 0;
      }
    }
  }
}
