.rt-table {
  .rt-tbody {
    .rt-tr-group:hover {
      .rt-custom__controls {
        opacity: 1;
      }
    }
  }
}

.rt-custom__controls {
  opacity: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;

  i {
    width: 18px;
    color: #ccc;

    &:hover {
      cursor: pointer;
      color: #6C7177;
    }
  }
}
